<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container-article">
  <div class="artcile-main">
    <app-big-card photo="https://www.clariontech.com/hs-fs/hubfs/Angular%20Features-1.png?width=1030&name=Angular%20Features-1.png" cardDescription="O Angular pode ser utilizado para criar aplicações web SPA, aplicações mobile (com o suporte do Ionic, por exemplo) ou até mesmo aplicações desktop (com o suporte do Electron)." cardTitle="ANGULAR MELHOR FRAMEWORK"></app-big-card>
  </div>
  <div class="article-other">

    <app-small-card cardDescription="Com o objetivo de fortalecer os laços com os seus consumidores, a LG Electronics apresentou sua nova identidade visual com mais foco no slogan “Life’s Good”" photo="https://assets.propmark.com.br/uploads/2023/05/lg-eletronics.png" linkSites="https://propmark.com.br/lg-electronics-aposta-em-nova-identidade-visual/"></app-small-card>

    <app-small-card photo="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-tXmJwvzVRqq3oGgC1rOhuMv8esNsbve9tw&usqp=CAU" cardDescription="O Google faz parte da vida de bilhões de pessoas há mais de duas décadas e ainda existem aqueles que não sabem como aproveitá-lo ao máximo." linkSites="https://www.bbc.com/portuguese/geral-58714008"></app-small-card>

    <app-small-card photo="https://media.gazetadopovo.com.br/2022/01/03173432/apple-3-trilhoes-2-960x540.jpg" cardDescription="Apple suspende a venda de produtos da marca na Rússia por tempo indeterminado." linkSites="https://www.gazetadopovo.com.br/economia/breves/apple-suspende-a-venda-de-produtos-da-marca-na-russia-por-tempo-indeterminado/"></app-small-card>


  </div>
</div>

