body{
    background-color: rgb(94, 149, 252);
    font: normal 15pt;
    

}

header{
    color: white;
    text-align: center;

}

select#flista{
    width: 150px;
}

section{
    font: 18pt normal Arial;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(65, 65, 65);


}

footer{
    text-align: center;
    color: white;
    font-style: italic;


}