<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://www.clariontech.com/hs-fs/hubfs/Angular%20Features-1.png?width=1030&name=Angular%20Features-1.png" alt="" height="350px" width="100%">
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <a href="#">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ut voluptates maxime, provident sint soluta quam quasi sit eligendi porro, tenetur obcaecati in natus dicta ea repellendus odit mollitia doloribus!
      </p>
    </a>
  </div>
</div>
